h4 {
    margin: 5px;
    margin-top: 20px;
}

* {
    font-family: "helvetica";
    font-size: 105%;
}

/*div {
    font-size: 100%;
}*/

/*p {
    font-size: 100%;
}*/

/*button {
    font-size: 2em;
}*/

form {
    display: flex;
    /*margin-left: 100px;
    margin-right: 100px;*/
}
/*#id .class*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: none;*/
    grid-gap: 10px;
    /*grid-auto-columns: minmax(100px, auto);*/
    grid-auto-columns: auto;
    grid-auto-rows: minmax(100px, auto);

    margin: 0 auto;
    margin-left: 5%;
}

#mainContent {
    margin: 0 auto;
    width: 75%;
}


/*.left {
    flex-grow: 1;
}

.right {
    flex-grow: 1;
}*/

.short, .long {
    font-size: 90%;
}

@media only screen and (max-device-width: 480px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 12%;
    }
}

.short {
    /*grid-column: auto;
    grid-row: auto;*/
    /*font-size: 100%;*/
}

.long {
    grid-column: 1 / 4;
    grid-row: auto;
}

.forScore {
    height: 1em;
}
