html {
    position: relative;
}

body {
    position: absolute;
    left: 12%;
    right: 13%;
    margin: 20px;
    border: 1px solid #DDDDDD;
    padding: 50px;
    color: #23292F;
}

hr {
    background-color: #E1E4E8;
    border-bottom-color: #E1E4E9;
    border: 0;
    height: 0.25em;
    margin: 24px 0;
    padding: 0;
}

h1, h2 {
    border-bottom: 1px solid #EAECEF;
}

th, td {
    border-bottom: 1px solid #EAECEF;
    border-right: 1px solid #EAECEF;
    padding: 2px;
}

th {
    border-top: 1px solid #EAECEF;
}

td:first-child, th:first-child {
    border-left: 1px solid #EAECEF;
}

table {
    border-spacing: 0;
}

.stats > * {
    text-align: center;
    display: inline-block;
    width: 8%;
    margin: 0 3%;
}
